:root {
  --clr-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111827;
  height: 100vh;
}

h1 {
  margin-top: 20px;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: whitesmoke;
}

button {
  color: whitesmoke;
  background-color: #2a2f42;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  box-shadow: 0 0 0 3px var(--clr-white);
}

.Questions {
  margin: 10px;
  font-size: 18px;
}

.Menu,
.Quiz,
.EndScreen {
  margin-top: 4em;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: #2563eb;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
}

input {
  width: 300px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.Menu button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu button:hover {
  background-color: #485a81;
}

.Quiz button:hover {
  background-color: #485a81;
}

.EndScreen button:hover {
  background-color: #485a81;
}

@media screen and (max-width: 425px) {
  .Menu,
  .Quiz,
  .EndScreen {
    width: 90%;
  }

  .Menu button,
  .EndScreen button {
    width: 90%;
  }

  .EndScreen {
    font-size: 14px;
  }
}
