.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  text-align: center;
}

.Menu,
.Quiz,
.EndScreen {
  margin-top: 4em;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: lightblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px grey;
}

input {
  width: 300px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.Menu button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu button:hover {
  background-color: lightgrey;
}

.Quiz button:hover {
  background-color: lightgrey;
}

.EndScreen button:hover {
  background-color: lightgrey;
}

@media screen and (max-width: 425px) {
  .Menu,
  .Quiz,
  .EndScreen {
    width: 90%;
  }

  .Menu button,
  .EndScreen button {
    width: 90%;
  }

  .EndScreen {
    font-size: 14px;
  }
}
